<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

  <featureManager>
    <feature>cdi-2.0</feature>
    <feature>jaxrs-2.1</feature>
    <feature>mpHealth-2.0</feature>
    <feature>mpConfig-1.3</feature>
  </featureManager>

  <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>
</server>
