<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>microProfile-2.2</feature>
    </featureManager>

    <quickStartSecurity userName="admin" userPassword="adminpwd" />
    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" />
    <applicationManager autoExpand="true" />
    <applicationMonitor updateTrigger="mbean" />

    <dataSource id="DefaultDataSource">
        <jdbcDriver libraryRef="DERBY_JDBC_LIB" />
        <properties.derby.embedded databaseName="test" createDatabase="create" />
    </dataSource>

    <library id="DERBY_JDBC_LIB">
        <file name="${server.config.dir}/derby.jar" />
    </library>
</server>