<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>microProfile-3.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

    <quickStartSecurity userName="duke" userPassword="dukeduke"/>

    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="jdkTrustStore"/>
    <keyStore id="jdkTrustStore" location="${java.home}/lib/security/cacerts" password="changeit"/>

    <dataSource id="DefaultDataSource" jndiName="jdbc/postgresql">
        <jdbcDriver libraryRef="postgresql-library"/>
        <properties.postgresql serverName="${env.POSTGRES_HOSTNAME}"
                               portNumber="${env.POSTGRES_PORT}"
                               databaseName="users"
                               user="${env.POSTGRES_USERNAME}"
                               password="${env.POSTGRES_PASSWORD}"/>
    </dataSource>

    <library id="postgresql-library">
        <fileset dir="/opt/ol/wlp/lib"/>
    </library>
</server>