name: Build Gradle Projects
on: [push, pull_request]
jobs:
  build-jdk8:
    runs-on: ubuntu-latest
    name: Build Java 8 projects
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-jdk8-${{ hashFiles('**/*.gradle') }}
        restore-keys: |
          ${{ runner.os }}-gradle-jdk8-
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build JDK 8 projects
      run: ./buildGradleJdk8Projects.sh