name: Build Spring Boot Gradle Projects
on:
  push:
  schedule:
    - cron: '0 5 * * SUN'
jobs:
  build-gradle-projects:
    runs-on: ubuntu-latest
    name: Build Java Projects
    steps:
      - name: VCS checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 1.8
          distribution: 'adopt'
          cache: 'gradle'

      - name: Build project wiht Gradle
        working-directory: 'kotlin-javascript-transpiling-gradle'
        run: ./gradlew build
